## This file includes:-
#### Data Types, find which type, variabe,data structure, list, tuple,set,dictionary

### short cut

##### for run- shift+enter
##### for markline/highlighgt_-- curser in the cell + M
##### for delete the cell___ curser in the cell+dd/x
##### for insert a cell above--- curser+A
##### for insert a cell down--- curser +b

## DATA Types
### string/boolean/complex/integer/

## to know which type of data type is use type  to find the type

In [1]:
a="python"
type(a)

str

In [2]:
b=5.2
type(b)

float

In [3]:
d=3
type(d)

int

In [4]:
d=3+2j
type(d)

complex

In [5]:
x=False
type(x)

bool

In [6]:
x="True"
type(x)

str

In [ ]:
a=2,b=3.4 add and

### Rules for naming the variable
##### 1.variable can have alphabets[A-Z, a-Z]
##### variable should not start with the number number. but can be writte4n any where except at the starting
##### variable name does not support any special character except underscore(_)
##### space also not allowed in the variable
##### variable name can start A to Z , a to Z
##### case sensitive also means if defined upper case then implete should be also capitaal see cel no.9 and 10

In [7]:
fruits="apple"
fruits

'apple'

In [8]:
7fruits="apple"
7fruits

SyntaxError: invalid syntax (3927286213.py, line 1)

In [9]:
Fruits="appple", "mango"
Fruits

('apple', 'mango')

In [15]:
Fruits="maango", "babana"
fruits

('manngo', 'banana')

In [16]:
fruits="manngo", "banana"
Fruits

('maango', 'babana')

In [ ]:
### Types of Analytics
#### 1.Descriptive -what happend in the past
#### 2.Diagnostic- why did it happend
#### 3.Preedictive-what will happen in the future
#### 4.Prescriptive-what should do  next(solution)
##### all should start in order (1,2,3) and stop at the given analytics

# DAta structure
###  tuple(),list[],dictionary{}with :(colon)dict  set_ {} with comma,

In [17]:
x="aplle", "banana", "cherry"
type(x)

tuple

In [18]:
x=["apple", "banana", "cherrry"]
type(x)

list

In [19]:
x={"name", "kelsa", "dj"}
type(x)

set

In [20]:
x={"apple":"john", "age":46}
type(x)

dict

## example

# List
#### 1.with square bracket[]
#### 2.allow heterogenous(It allow- integer,float,string)
#### 3.start index from 0
####  4. Mutable using index __ sample_list[3]=8
######  snbr:- +ve index no. start from 0,1,2,.. from left(or startiting)
######  -ve index start from 1,2,3... from right / from end/ back

In [2]:
sample_list=[12,43,56,"hi", 1+2j, 6.7]
sample_list

[12, 43, 56, 'hi', (1+2j), 6.7]

In [3]:
type(sample_list)

list

In [24]:
sample_list(0)

TypeError: 'list' object is not callable

In [4]:
sample_list[0]

12

In [27]:
sample_list[3]

'hi'

In [28]:

sample_list[38]

IndexError: list index out of range

In [29]:


sample_list[2]

56

##### To change list no.  using index item [2] apply these below method

In [31]:
sample_list[2]=3.5

In [32]:
sample_list

[12, 43, 3.5, 'hi', (1+2j), 6.7]

In [33]:

sample_list[2]

3.5

In [34]:
sample_list[2]=8

In [35]:
sample_list

[12, 43, 8, 'hi', (1+2j), 6.7]

### reverse the list

In [36]:
sample_list.reverse()
sample_list

[6.7, (1+2j), 'hi', 8, 43, 12]

In [6]:
sample_list[-1] # -ve index will start from 1,2,3... and count from back/right/

6.7

# Tuple
#### 1. have ()paranthesis / it may  have no any bracket that also defines as tuple as-1,2,3,4,5
#### 2.allows heterogenous 
#### 3. Immutable {sample_tuple[2]="hello"}( can not change the data once declared / interchange of thevalue is not possible in the tuple but list allows its)

###### snbr_-- for find in index use square bracket[] and also have no attribute of reverse

In [37]:
sample_tuple=(1,56,3.5, "hi", 1+2j)
sample_tuple

(1, 56, 3.5, 'hi', (1+2j))

In [38]:
type(sample_tuple)

tuple

In [39]:
sample_tuple=1,56,3.5, "hi", 1+2j
sample_tuple

(1, 56, 3.5, 'hi', (1+2j))

In [40]:
type(sample_tuple)

tuple

In [41]:
sample_tuple(2)

TypeError: 'tuple' object is not callable

In [42]:
sample_tuple[2]

3.5

In [43]:
sample_tuple[2]="hello"

TypeError: 'tuple' object does not support item assignment

In [44]:
sample_tuple

(1, 56, 3.5, 'hi', (1+2j))

In [45]:
sample_tuple.reverse

AttributeError: 'tuple' object has no attribute 'reverse'


# SET
#### output will be-  start in ascending order(0,1,2,3,4,...), remove their duplicate(means no repeate), arrange on the basic of digit(1,123,13.5,21,22,23,252) ascending order
##### first number will be arrange after that string("hi")will arrange according to aphabetically(a,b,c,d...)
##### 1. add heterogenous
##### 2. does not allow duplicates
##### 3. can not retrivute(access) when the index is uses or run(tuple and list can be retrivute using index)
##### 4. immutable using index but adding and removing is allowed randomly not on the basis of the index
##### 5. orederd in a first place

In [63]:
sample_set={1,123,43,23,45,67,22,21,3,66,66,0,23,43,1,"hii","fox","a","abc",252,13.5}
sample_set

{0, 1, 123, 13.5, 21, 22, 23, 252, 3, 43, 45, 66, 67, 'a', 'abc', 'fox', 'hii'}

In [47]:
sample_set

{0, 1, 123, 13.5, 21, 22, 23, 252, 3, 43, 45, 66, 67, 'a', 'abc', 'fox', 'hii'}

#### due to below incorrect. on the 2nd index that is 123 is alos not running after this happens///////we cannot retrieve the element using index in a set

In [49]:
sample_set[2]

TypeError: 'set' object is not subscriptable

In [50]:
sample_set[2]="hooo"

TypeError: 'set' object does not support item assignment

In [62]:
sample_set

{0, 13.5, 22, 252, 3, 45, 66, 67, 'a', 'abc', 'fox', 'g', 'hii'}

In [61]:
sample_set

{0, 13.5, 22, 252, 3, 45, 66, 67, 'a', 'abc', 'fox', 'g', 'hii'}

In [58]:
sample_set.remove(21)
sample_set

{0, 13.5, 22, 23, 252, 3, 45, 66, 67, 'a', 'abc', 'fox', 'g', 'hii'}

In [56]:
sample_set.add("g")
sample_set

{0, 1, 13.5, 21, 22, 23, 252, 3, 45, 66, 67, 'a', 'abc', 'fox', 'g', 'hii'}

In [59]:
sample_set

{0, 13.5, 22, 23, 252, 3, 45, 66, 67, 'a', 'abc', 'fox', 'g', 'hii'}

In [60]:
sample_set.remove(23)
sample_set

{0, 13.5, 22, 252, 3, 45, 66, 67, 'a', 'abc', 'fox', 'g', 'hii'}

# DICTIONARY
#### 1. Dictionary has key:values pair datasructure
#### 2. key is uniquw(only one times) but value can be dupcated
#### 3. can retrive value using key
#### 4. can change the value using key
#### 5. key is immutable while value is immutable using key as- sample_dict[7]=200
#### 6. reverse attribute is not possible
#### 7. add attribute is not possible

## Snbr
### in tuple & list we retrivute value by index[0]/[1]/[2] But in Dictionary we retrivute (take ) value from key(before colon wala)
####  in case having repeated value with the same key then latest(last) value will take(impleted)

In [9]:
sample_dict={"a":"alpha",1:"first",2:"second" ,3:"three", 1:"fourth", 5:"fourth", 6:"sixth"}
type(sample_dict)

dict

In [10]:
sample_dict # before colon keys and after colon is called as value.. key:value

{'a': 'alpha', 1: 'fourth', 2: 'second', 3: 'three', 5: 'fourth', 6: 'sixth'}

In [71]:
sample_dict["a"] # index value is not taking here .. here use key value(before colon)

'alpha'

In [72]:
sample_dict["alpha"] # cant take key using value

KeyError: 'alpha'

In [74]:

sample_dict[5]="fifth" # mutable using key only(value can be change using key)
sample_dict

{'a': 'alpha', 1: 'fourth', 2: 'second', 3: 'three', 5: 'fifth', 6: 'sixth'}

In [75]:
sample_dict[7]="seventy" # it sjowing output vertically so dont be panic its only presenting
sample_dict

{'a': 'alpha',
 1: 'fourth',
 2: 'second',
 3: 'three',
 5: 'fifth',
 6: 'sixth',
 7: 'seventy'}

In [76]:
sample_dict.reverse() # cant reverse the data

AttributeError: 'dict' object has no attribute 'reverse'

In [7]:
sample_dict.add("hiiii")

NameError: name 'sample_dict' is not defined

In [8]:
sample_dict

NameError: name 'sample_dict' is not defined

In [11]:
sample_dict

{'a': 'alpha', 1: 'fourth', 2: 'second', 3: 'three', 5: 'fourth', 6: 'sixth'}

In [12]:
sample_dict.add("hii")

AttributeError: 'dict' object has no attribute 'add'