# Numpy: Package for Multidimensional array

In [ ]:
import numpy as np

In [ ]:
simple_list=[6,7,9]
np.array(simple_list)

In [ ]:
arr=np.array([1,2,3])
arr

In [ ]:
list_of_lists=[[1,2,3],[4,5,6],[7,8,9]]
np.array(list_of_lists)

In [ ]:
np.arange(5,10)

In [ ]:
np.arange(1,30,5) # shift+tab->help box

In [ ]:
np.arange(5)

In [ ]:
np.zeros(10)

In [ ]:
np.zeros(10,int)

In [ ]:
np.ones((2,3))

In [ ]:
np.ones(100)

In [ ]:
np.ones(10,int)

In [ ]:
np.zeros((2,5),int)

In [ ]:
np.ones((2,5))

In [ ]:
np.ones((2,5),int)

In [ ]:
np.linspace(0,2,5)

In [ ]:
np.linspace(0,20,8)

In [ ]:
np.eye((10))

In [ ]:
np.random.rand(3,5)

In [ ]:
arr=np.random.randn(2,4)
arr

In [ ]:
np.random.randint(2,100)

In [ ]:
np.random.randint(20,56,100)

In [ ]:
sample_array=np.arange(30)
sample_array

In [ ]:
rand_array=np.random.randint(0,100,20)
rand_array

In [ ]:
sample_array.reshape(5,6)

In [ ]:
sample_array.reshape(4,3)

In [ ]:
rand_array.max()

In [ ]:
rand_array.argmax()

In [ ]:
a=np.eye(5)
a

In [ ]:
a.T

In [ ]:
a=np.random.rand(2,3)
a

In [ ]:
a.T

In [ ]:
sample_array=np.arange(10,21)
sample_array

In [ ]:
sample_array[0]

In [ ]:
sample_array[2:5]

In [ ]:
sample_array[1:4]=100
sample_array

In [ ]:
sample_array=np.arange(10,21)
sample_array

In [ ]:
sample_array[0:7]

In [ ]:
subset_sample_array=sample_array[0:7]
subset_sample_array

In [ ]:
subset_sample_array[:]=1001
subset_sample_array

### Two-Dimensional array

In [ ]:
import numpy as np

In [ ]:
sample_matrix=np.array([[50,20,1,23],[24,23,21,33],[56,76,24,7]])
sample_matrix

In [ ]:
sample_matrix[1,2]

In [ ]:
sample_matrix[2,:]

In [ ]:
sample_matrix[2]

In [ ]:
sample_matrix[:,(3,2)]

###  Selection techniques

In [ ]:
sample_array=np.arange(1,20)

In [ ]:
sample_array

In [ ]:
sample_array+sample_array

In [ ]:
np.exp(sample_array) # exponential

In [ ]:
np.sqrt(sample_array)

In [ ]:
np.log(sample_array)

In [ ]:
np.max(sample_array)

In [ ]:
np.min(sample_array)

In [ ]:
np.argmax(sample_array)

In [ ]:
np.argmin(sample_array)

In [ ]:
np.square(sample_array)

In [ ]:
np.std(sample_array)

In [ ]:
np.var(sample_array)

In [ ]:
np.mean(sample_array)

In [ ]:
import numpy as np

In [ ]:
array=np.random.randn(3,4)
array

In [ ]:
np.round(array,decimals=2)

In [ ]:
sports=np.array(['golf','cricket','fball','cricket'])
np.unique(sports)

In [ ]:
### Pandas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
labels=['w','x','y','z']
sample_list=[100,200,300,400]
array=np.array([1,2,3,4])
dict={'w':10,'x':20,'y':30,'z':40}

In [ ]:
pd.Series(data=sample_list)

In [ ]:
pd.Series(data=sample_list,index=array)

In [ ]:
pd.Series(array,labels)

In [ ]:
pd.Series(dict)

### Pandas dataframe and indexing

In [ ]:
sports1=pd.Series([1,2,3,4],index=['cricket','football','basketball','golf'])
sports1

In [ ]:
sports1['football']

In [ ]:
sports2=pd.Series([11,2,3,4],index=['cricket','football','baseball','golf'])
sports2

In [ ]:
sports1+sports2

In [ ]:
df1=pd.DataFrame(np.random.rand(8,5),index='A B C D E F G H '.split(),columns='Score1 Score2 Score3 Score4 Score5'.split())
df1

In [ ]:
df1["Score1"]

In [ ]:
df1[["Score1","Score2","Score3"]]

In [ ]:

df1['Score6']=df1['Score1']+df1['Score2']
df1

In [ ]:
df2={'ID':['101','102','103','107','176'],'Name':['John','Mercy','Akash','Kavin','Lally'],'Profit':[20,54,56,87,123]}
df=pd.DataFrame(df2)
df

In [ ]:
df["ID"]

In [ ]:
df[["ID","Name","Profit"]]

In [ ]:
df=df.drop("ID",axis=1)

In [ ]:
df

In [ ]:
df.drop(3)

### How to import Dataset using Pandas?

In [15]:
import numpy as np
import pandas as pd

In [16]:
df=pd.read_csv("CardioGoodFitness-1.csv")

In [ ]:
df.shape

In [ ]:
df.head(10)

In [ ]:
df.tail()

In [ ]:
df.sample(10)

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df.describe()

In [ ]:
df.describe(include="all")

In [ ]:
df.head()

In [ ]:
df.head(10)

In [ ]:
df.tail()

In [ ]:
df.tail(10)

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.describe(include="all")

In [ ]:
import pandas as pd

In [ ]:
hr_df=pd.read_csv("https://raw.githubusercontent.com/Premalatha-success/IIM_Shillong/main/HR_data.csv")

In [ ]:
hr_df.head(100)

In [ ]:
hr_df.tail()

In [ ]:
hr_df.shape

In [ ]:
hr_df.dtypes

In [ ]:
hr_df.describe()

In [ ]:
hr_df.describe(include="all")

### Pandas

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv("titanic-training-data.csv")

In [ ]:
df.head()

In [ ]:
df.head(10)

In [ ]:
df.tail()

In [ ]:
df.sample(10)

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
df.describe()

In [ ]:
df.describe(include="all")

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
plt.hist(x=df["Age"],color="red")
plt.title("Distribution of age",fontsize=20,color='blue')
plt.xlabel("Age")
plt.ylabel("Frequency")
plt.show()

In [ ]:
sns.boxplot(df["Age"])
plt.title("Distribution of Age")
plt.xlabel("Age")

plt.show()

In [ ]:
df["Sex"].value_counts().plot(kind="barh",color='teal')
plt.title("Sex Distribution")
plt.xlabel("Sex")
plt.ylabel("Count")
plt.show()

In [ ]:
df["Pclass"].value_counts().plot(kind="barh",color='teal')
plt.title("Pclass Distribution")
plt.xlabel("Pclass")
plt.ylabel("Count")
plt.show()

In [ ]:
from matplotlib import cm
emb=df["Embarked"].value_counts()
keys=emb.keys().to_list()
counts=emb.to_list()
cs=cm.Set1([2,4,6,8])
plt.pie(x=counts,labels=keys,autopct='%1.1f%%',colors=cs)
plt.show

In [ ]:
plt.scatter(x="Age",y="SibSp",data=df)

In [18]:
import numpy as np
import pandas as pd

In [19]:
df=pd.read_csv("CardioGoodFitness-1.csv")

In [32]:
df.describe(include="all")

,Product,Age,Gender,Education,MaritalStatus,Usage,Fitness,Income,Miles
count,180,180.000000,180,180.000000,180,180.000000,180.000000,180.000000,180.000000
unique,3,NaN,2,NaN,2,NaN,NaN,NaN,NaN
top,TM195,NaN,Male,NaN,Partnered,NaN,NaN,NaN,NaN
freq,80,NaN,104,NaN,107,NaN,NaN,NaN,NaN
mean,NaN,28.788889,NaN,15.572222,NaN,3.455556,3.311111,53719.577778,103.194444
std,NaN,6.943498,NaN,1.617055,NaN,1.084797,0.958869,16506.684226,51.863605
min,NaN,18.000000,NaN,12.000000,NaN,2.000000,1.000000,29562.000000,21.000000
25%,NaN,24.000000,NaN,14.000000,NaN,3.000000,3.000000,44058.750000,66.000000
50%,NaN,26.000000,NaN,16.000000,NaN,3.000000,3.000000,50596.500000,94.000000
75%,NaN,33.000000,NaN,16.000000,NaN,4.000000,4.000000,58668.000000,114.750000
max,NaN,50.000000,NaN,21.000000,NaN,7.000000,5.000000,104581.000000,360.000000

In [ ]:
#### Task : Go to my repository-> datasets-> select one dataset -> click on raw -> link

In [ ]:
#### Explore the dataset